/* body {

    background-image: url(../image/bg.png);
} */

.hero{
    padding-top: 3em;
    margin-top: 9em;
    padding-bottom: 10em;
}

.bio{
    margin-top: 9em;
    padding-left: 18vw;
    padding-right: 18vw;
    padding-bottom: 10em;
}

.gigi{
    margin-top: 9em;
    padding-left: 11vw;
    padding-right: 11vw;
}

footer{
    background-color: #1FC4AF;
    margin-top: 9rem;
}

.gigi .row .col-sm-8 .btn-orange{
    background: #FF7133;
    border-radius: 10px;
    color: #FFFFFF;
    filter: drop-shadow(2px 6px 25px rgba(0, 0, 0, 0.05));
}

.gigi .row .col-sm-8 .btn-orange:hover{
    transition: 0.3s;
    background: #da5d28;
    border-radius: 10px;
    color: #FFFFFF;
    filter: drop-shadow(2px 6px 25px rgba(0, 0, 0, 0.05));
}

p{
    color: #2F3539;
}