html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;

    scroll-behavior: smooth;

    background-color: #f7fcfa;
    background-image: url(../image/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a > i.bx {
    display: none;
}

a.active > span {
    color: #525252;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 3px 40px;
}

a > span:hover {
    transition: 0.2s;
    color: #7a7a7a;
    background-color: #ffffffa9;
    border-radius: 15px;
    padding: 3px 40px;
}

#navbox {
    box-shadow: 2px 6px 23px rgba(98, 98, 98, 0.1);
    border-radius: 8px;
    background-color: #1fc4af;
    padding: 15px 12px;
    margin-left: 9vw;
    margin-right: 9vw;
}

@media only screen and (max-width: 768px) {
    #navbox {
        padding: 10px;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    a > span {
        display: none;
    }

    a > i.bx {
        display: block;
        font-size: x-large;
    }

    a.active > i.bx {
        color: #525252;
        background-color: #ffffff;
        border-radius: 100px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    a > i.bx:hover {
        transition: 0.2s;
        color: #7a7a7a;
        background-color: #ffffffa9;
        border-radius: 100px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}
